.App {
  text-align: center;
  letter-spacing: 2px;
}
.Field {
  font-size: 20px;
}
.Field input, textarea {
  margin-top: 10px;
  width: 300px;
  margin-left: 10px;
}
textarea {
  height: 70px;
}
span {
  height: 5px;
  width: 5px;
}
button {
  width: 120px;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #61dafb;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
